name: One Stop Shop

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    paths:
    - archetypes/**
    - assets/**
    - content/**
    - i18n/**
    - public/**
    - resources/**
    - static/**
    - themes/**
    - config.yaml
    - Dockerfile
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: registry.digitalocean.com/tupperward

  # github.repository as <account>/<repo>
  IMAGE_NAME: blog

jobs:
  build:
    runs-on: personal-runners
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          repository: ${{ vars.DOCKER_IMAGE }}
          token: ${{ secrets.GH_TOKEN }}
          ref: main

      - name: DigitalOcean Docker Image Publish
        uses: ripplr-io/docr-docker-publish@v1
        with:
          image_path: ${{ vars.DOCKER_IMAGE }}
  deploy:
    needs: build
    runs-on: personal-runners
    permissions:
      contents: read

    steps:
      # Set up the Kubernetes CLI with your DigitalOcean Kubernetes cluster.
      - name: Set up kubectl
        uses: matootie/dokube@v1.4.0
        with:
          personalAccessToken: ${{ secrets.DO_TOKEN }}
          clusterName: ${{ vars.CLUSTER_NAME}}

      # Run any kubectl commands you want!
      - name: Roll Pods
        run: kubectl rollout restart ${{ vars.RESOURCE }} -n ${{ vars.NAMESPACE }} ${{ vars.RESOURCE_NAME }} 
